# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Deployments
deployments/**
!deployments/symbiotic-17000.json
!deployments/zerogravity-17000.json
!deployments/rewarder-16601.json
!deployments/symbiotic-1.json

# Docs
docs/

# Dotenv file
.env

.vscode

# abi gen
abis/
abigen/

# dev scripts
run.sh
config.sh
upgrade.sh
deposit.sh
register.sh
withdraw.sh